.custom-container {
  margin: 0.5rem;
}

.container-welcome {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-welcome {
  font-size: xx-large;
}

.usefull-links {
  display: flex;
  margin-bottom: 0.275rem;
  align-items: center;
  text-align: justify;
}
