.label-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-container {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
}

.progress-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
