.select-container {
  padding-bottom: 1rem;
}

.select-container-inner {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.search-warning {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 475px) {
  .select-container {
    padding-top: 1rem;
  }
  .select-container-inner {
    flex-direction: row;
    column-gap: 2rem;
  }
}
