version: "3.9"
services:
  web:
    build:
      context: ./pikpak-plus-client
      args:
        NEXT_PUBLIC_API_URL: /api
        API_URL_INTERNAL: http://server:5000
    depends_on:
      - server
    ports:
      - "3000:3000"
    volumes:
      - ./pikpak-plus-client:/user/src/app
    env_file:
      - ./.env
    environment:
      - API_URL_INTERNAL=http://server:5000
      - NEXT_PUBLIC_API_URL=/api
  server:
    build: ./pikpak-plus-server
    # ports:
    # - '5000:5000'
    volumes:
      - ./pikpak-plus-server:/app
    env_file:
      - ./.env
