.auth-button-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  right: 10px;
}

.auth-github-button {
  top: 10px;
  margin-left: 1rem;
  position: absolute;
}
