.card-divider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 359px) {
  .card-divider {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.ion-button-server {
  width: 100px;
}
.title-server {
  margin: 0.5rem 0.5rem;
}

.server-content {
  overflow-wrap: break-word;
}

.server-contact{
display: flex;
align-items: center;
justify-content: center;
}