.grid-container {
  width: 100%;
  padding-bottom: 6rem;
}

@media (max-width: 425px) {
  .grid-container {
    margin-top: 1rem;
    height: 448px;
  }
}

@media (min-width: 425px) {
  .grid-container {
    padding-top: 1rem;
    height: 500px;
  }
}
