/* AccountForm.css */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .account-card {
    width: 100%;
  }
  
  .donation-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

  }
.agreement-checkbox{
  display: flex;
  gap: 0.5em;
}
  @media (min-width: 576px) {
    .account-card {
      max-width: 75%;
    }
  }
  