.centered-element {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}


.container {
  position: relative;
  margin: 1rem 1rem; 
}

/* Media query for devices larger than tablets (e.g., desktops) */
@media (min-width: 768px) {
  .container {
    margin: auto 5rem auto 5rem;
  }
}

